name: Deploy Automatico na AWS (denovo)

on:
  push:
    branches:
      - main
      - staging

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout do Codigo
      uses: actions/checkout@v3

    - name: Deploy via SSH
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST_DNS }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.EC2_SSH_KEY }}
        port: 22
        command_timeout: 30m
        script: |
          cd AlertaVerdeDevOps
          git reset --hard origin/main
          git pull origin main
          
          # AQUI ESTAVA O ERRO: Agora usamos espaço, não traço
          sudo docker compose up -d --build